
/*Eigener Style von Footer Icons*/

.fab {
   padding: 10px;
   font-size: 28px;
   width: 50px;
   text-align: center;
   text-decoration: none;
 }

 .fa-youtube {
   color: red;
 }

 .fa-facebook {
   color: #1977F3;
 }

 .fa-twitter {
   color: #76CBFB;
 }
 
 .fa-reddit {
   color: #ff5700;
 }
 .fa-google {
   color: #3a7cec;
 }


 /* Link Hover Design */
 a:hover {
   color: #007BFF;
   text-decoration: none;
 }

 /*Überschreibt blaue Links im footer*/
 a.footerlink:hover, a.footerlink {
  color:black;
  text-decoration: none;
}

/* Design für Social Media Icons */
 .SocialMediaLabel{
   font-size: 24px;
   color: #212529;
 }

 .bg-black{
   background-color: #161616;
 }

 .head-text-color{
    color: #64a19d;
 }

 .text-color{
   color: #8b7f67;
 }

 .hr-style{
  border-color:#64a19d;
  font-weight: bold;
 }

 
 /* Hauptinhalt Style */

 /* Text Layout*/
 .content-layout{
  padding-top: 12%;
  padding-left: 12%;
  padding-right: 12%;
}

/* Fixe Grösse für Content-Grid*/
.content-size {
  height: 370px;
}

/* Link Style für Content*/
.content-link-layout {
  color: #64a19d;
}
/* Hauptinhalt Style */




/* Einbindung von Lobster Font*/
@font-face {
  font-family: Lobster;
  src: url(../fonts/Lobster/Lobster-Regular.ttf);
}
/* Zentrierte Position von Slogan*/
.slogan-relative-centered {
  position: relative;
  margin-left: 30%;
  margin-top: -25%;
  margin-bottom: 25%;
}

/* Opacity von Startpage Bild*/
.image-opacity {
  opacity: 0.7;
}

/* Style von Haupt-Slogan*/
.Main-Slogan {
  font-family: Lobster;
  font-size: 3vw;
  font-weight: bold;
  color: black;
}
